---
import MainLayout from '../../layouts/MainLayout.astro';
import type { Language } from '../../i18n/utils';
import FirstSection from '../../components/FirstSection/FirstSection.tsx';
import { QuienesSomos } from '@/components';
import {FlooringSection} from '@/components';
import ProjectSection from '@/components/ProjectSection/ProjectSection.astro';
import {OpinionesCarousel} from '@/components';
import {ContactForm} from '@/components';
import Footer from '@/components/layout/Footer.astro';

const lang: Language = 'en';

---

<MainLayout title="Home | RGB Corp" lang={lang}>
    <main>
  <FirstSection client:only="react" lang={lang} />
  <QuienesSomos lang={lang} />
  <FlooringSection lang={lang} />
  <ProjectSection lang={lang} />
  <OpinionesCarousel lang={lang} client:visible />
  <ContactForm lang={lang} client:visible />
  <Footer lang={lang} client:visible />

  </main>
</MainLayout> 