---
import { getLangFromUrl, useTranslations, type Language } from '../../i18n/utils.ts';
import Laminate from './Laminate.astro';
import Vinyl from './Vinyl.astro';
import Tile from './Tile.astro';
import Wood from './Wood.astro';

interface Props {
  floor: string;
  lang?: Language;
}

const { floor, lang: propLang } = Astro.props;
const currentLang = propLang || getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);

const floorImages: Record<string, string> = {
  Tile: "https://res.cloudinary.com/drwacbtjf/image/upload/v1744643216/Imagen_de_WhatsApp_2025-02-06_a_las_18.37.00_44592a86_jeumna.jpg",
  Laminate: "https://res.cloudinary.com/drwacbtjf/image/upload/v1744643166/Imagen_de_WhatsApp_2025-02-06_a_las_18.38.14_faf1dc6f_l12fpq.jpg",
  Vinyl: "https://res.cloudinary.com/drwacbtjf/image/upload/v1744662421/vinyll_samvcc.jpg",
  Wood: "https://res.cloudinary.com/drwacbtjf/image/upload/v1744643154/Imagen_de_WhatsApp_2025-02-06_a_las_18.37.00_737de658_ioa8xa.jpg",
};

const components: Record<string, any> = {
  Tile: <Tile lang={currentLang} />,
  Laminate: <Laminate lang={currentLang} />,
  Vinyl: <Vinyl lang={currentLang} />,
  Wood: <Wood lang={currentLang} />,
};
---

<div class="modal-overlay" id="flooring-modal">
  <div class="modal-card-two-columns">
    <div class="modal-image-column">
      <img src={floorImages[floor]} alt={floor} />
    </div>
    <div class="modal-text-column">
      <h2 class="modal-title">{t(`FlooringSections.options.${floor}`)}</h2>
      <div class="modal-content-scroll">
        {components[floor]}
      </div>
      <button class="close-btn" id="close-modal">
        {t('Button.Close')}
      </button>
    </div>
  </div>
</div>

<script>
  const modal = document.getElementById('flooring-modal');
  const closeBtn = document.getElementById('close-modal');

  if (modal && closeBtn) {
    modal.addEventListener('click', (e) => {
      if (e.target === modal) {
        document.dispatchEvent(new CustomEvent('modalClose'));
        modal.remove();
      }
    });

    closeBtn.addEventListener('click', () => {
      document.dispatchEvent(new CustomEvent('modalClose'));
      modal.remove();
    });
  }
</script> 