---
import MainLayout from '../../layouts/MainLayout.astro';
import type { Language } from '../../i18n/utils';
import FirstSection from '../../components/FirstSection/FirstSection.astro';
import QuienesSomos from '../../components/QuienesSomos/QuienesSomos.astro';
import FlooringSection from '../../components/flooringSection/FlooringSection.astro';
import ProjectSection from '../../components/projectSection/ProjectSection.astro';
import OpinionesCarousel from '../../components/opinionesCarousel/OpinionesCarousel.astro';
import ContactForm from '../../components/contactForm/ContactForm.astro';
import Footer from '../../components/footer/Footer.astro';
import '../../components/FirstSection/fullpage.css';

const lang: Language = 'es';
---

<MainLayout title="RGB Corporation - Inicio" lang={lang}>
  <FirstSection lang={lang} />
  <QuienesSomos lang={lang} />
  <FlooringSection lang={lang} />
  <ProjectSection lang={lang} />
  <OpinionesCarousel lang={lang} />
  <ContactForm lang={lang} />
  <Footer lang={lang} />
  <main>
    <h1>Bienvenido a RGB Corporation</h1>
    <!-- Aquí irá el contenido de tu página principal -->
  </main>
</MainLayout> 